
footer{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #4682B4;
    padding-top: 15px;
}
.twiter{
    width: 43px;
    height: 43px;
}
.logoDiv{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.middleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addressP{
    font-size: 20px;
    color: white;

}