@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@800&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

.popularDiv {
    width: 100%;
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-around;

}

.priceSpan {
    margin-left: 140px;
    font-family: "Chivo Mono";
    font-weight: 800;
}



.addTocart {
    position: absolute;
    /* width: 100px; */
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 27px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Chivo Mono";
    font-weight: 400;
    cursor: pointer;

}

h1 {
    font-size: 52px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Chivo Mono";
    width: 100%;
    text-align: center;

}

h1:before{
    content: "THE MOST POPULAR DISHES";
    animation: animate 8s infinite;
}

@keyframes animate{
    0%{

        opacity: 0;
        font-size: 52px;
    }
    50%{
        opacity: 1;
        font-size: 60px;
    }

    100%{
        opacity: 0;
        font-size: 52px;
    }
}